@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f0ad4e;
}

.tel-number {
  font-weight: bolder;
}

.tel-number:hover {
  text-decoration: none;
}

.slogan-jumbotron {
  font-family: "Patrick Hand", cursive;
}

.fa-facebook-square{
  color: #3b5998 !important;
}

.fa-youtube-square{
  color: #FF0000 !important;
}

.fa-twitter-square{
  color: #00acee !important;
}

.fa-instagram-square{
  color: #8a3ab9 !important;
}